header{
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    //navbar
    nav{
        width: 100%;
        height: 75px;
        border-bottom: 1px solid $lightgray;
        @include flex;

        .navbar-right{
            @include flex;
            height: 50%;

            li{
                font-size: 13.5px;
                font-weight: bolder;
                margin: 0 20px;
                cursor: pointer;
                &:hover{color: $blue;}           
                a{@include btn-1;}
            } 
        }
    }
        
    .center{
        width: 100%;
        height: 500px;
        @include flex; 
        
        .center-left{ 
            min-width: 560px;
            height: 350px;
            background-color: $white;
            padding-right: 15px;
            a{
                font-size: 13.5px;
                i{
                    font-size: 12px;
                    font-weight: 0;
                    padding-left: 5px;
                }
                &:hover, &:hover i{color: $blue;}
            }
            h1{
                line-height: 1.5em;
                font-size: 50px;               
            }
            p{
                font-size: 21px;
                margin: 30px 0;
            }
            .container-logins{
                @include flex;
                flex-flow: row wrap;
                width: 400px;
                height: 60px;
                a{@include btn-2;}
                span{color: $lightgray;}
            }
        }

        .center-right{
            min-width: 375px;   
            max-width: 575px;  
            img{@include resize;}  
        }
    }   
}