//imports
@import "variables";
@import "common";

@import "header";

@import "main-orange-1";

@import "main-white";

@import "main-orange-2";

@import "footer";

@import "teambit-help";
@import "help-center";


//regole generali
*{
    @include general;
    color: $brown;
}
body{background-color: $white};

img{
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    border-radius: 10px;
}





